*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"]{
  min-height: auto;
  text-align: center;
  padding: 3%;
}

.container{
  padding: 0 15% 0 15%;
}

img{
  height: 200px;
}

.getmeblue{
  background-color: #87bdd8;
  border-radius: 50%;
}

.almostblue{
  background-color: #c2d4dd;
}

h2,p{
  padding-top: 2%;
}


@media screen and (max-width: 767px){
  img{
    height:140px;
  }

  [class*="col-"]{
    padding:4%;
  }
}
